global !p

def line(n = 40):
	return "// " + "="*n

endglobal

# ========================================

snippet line "40 =" b
`!p snip.rv = line()`
$0
endsnippet

snippet id "document.getElementById"
document.getElementById("${1:id}");
endsnippet

snippet qs "document.querySelector"
document.querySelector("${1:selector}");
endsnippet

snippet qsa "document.querySelectorAll"
document.querySelectorAll("${1:selector}");
endsnippet
